::view-transition-group(*) {
    animation-duration: calc(1s / 30);
    animation-timing-function: ease-in-out;
}
::view-transition-group-new(*),
::view-transition-group-old(*) {
    animation-duration: calc(1s / 30);
    animation-timing-function: ease-in-out;
}