.grid-areas-shop {
    display: grid;
    width: 100%;
    min-height: 100%;
    grid-template-columns: [left-0] 1fr [left] 30ch [mid-left] minmax(20ch, 40ch) [mid-right] 30ch [right] 1fr [right-0];
    grid-template-rows: [nav-cta] min-content [top-nav] min-content [content] auto [footer] min-content [end];
    grid-template-areas:
        "cta-nav cta-nav cta-nav cta-nav cta-nav"
        ". top-nav top-nav top-nav ."
        ". content content content ."
        ". footer footer footer ."
    ;
}

.grid-in-top-nav {
    grid-area: top-nav;
}

.grid-in-cta-nav {
    grid-area: cta-nav;
}

.grid-cols-content-lines {
    grid-column: left/right;
}

.subgrid {
    grid-template-columns: subgrid;
    grid-template-rows: subgrid;
}

.grid-in-content {
    grid-area: content;
}

.grid-in-footer {
    grid-area: footer;
}

.grid-in-cart {
    grid-column: mid-right;
    grid-row: content;
}

.grid-in-filters {
    grid-column: left/mid-left;
    grid-row: content;
}
