#discount-cta.grid.grid-in-cta-nav.subgrid(class='bg-[#fcd6cf]' style='view-transition-name: discount')
  .grid.subgrid.grid-cols-content-lines
    p.place-self-center.grid-cols-content-lines Use code &quot;XMAS&quot; for a 20% discount at checkout.
    button.place-self-end.grid-cols-content-lines(x-event='hide-element' value="discount-cta" aria-label='Close discount CTA')
      svg.w-4.h-4.pointer-events-none(xmlns='http://www.w3.org/2000/svg' fill='none' viewbox='0 0 24 24' stroke-width='1.5' stroke='currentColor')
        path(stroke-linecap='round' stroke-linejoin='round' d='M6 18L18 6M6 6l12 12')
