template#x-plus-minus-template
  div.flex.flex-row.flex-nowrap.w-min.leading-10.border.border-1.border-black-200.rounded-lg.overflow-hidden.text-lg.select-none
    button.minus.px-3.bg-white.border-r.border-1.border-black-200(class="disabled:opacity-20" value="-") -
    span.text-center.bg-gray-200(class="min-w-[4ch]" slot="value")
    button.plus.px-3.bg-white.border-l.border-1.border-black-200(class="disabled:opacity-20" value="+") +
